# Archivos de la base de datos de Django (SQLite)
db.sqlite3

# Archivos de configuración del entorno (como el entorno virtual)
venv/
.env
*.env

# Archivos de migraciones de Django
*.log

# Archivos de cache de Python
__pycache__/
*.py[cod]

# Archivos de la compilación de Python
*.pyo
*.pyd

# Archivos de editor (por ejemplo, si usas VS Code)
.vscode/

# Archivos de sistema operativo (por ejemplo, en Mac)
.DS_Store

# Archivos de configuración de Docker (si usas Docker)
.docker/

# Archivos de test temporales o cobertura
coverage/
*.cover
*.hypothesis/

# Archivos de PyCharm o IDEs similares
.idea/
