{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/carrito.css' %}">
{% endblock %}

{% block content %}
<div class="cart-container">
    <div class="cart-header">Carrito de Compras</div>

    <div class="table-wrapper">
        <table class="table cart-table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for item in carrito_items %}
                <tr>
                    <td>{{ item.producto.nombre }}</td>
                    <td>${{ item.producto.precio }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>${{ item.subtotal }}</td>
                    <td>
                        <a href="{% url 'eliminar_item' item.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="cart-footer">
        <div class="total-container">
            <div class="total-label">Total</div>
            <div class="total-value">${{ total }}</div>
        </div>
        <button type="button" class="btn btn-primary" id="btnFinalizarCompra">
            Finalizar Compra
        </button>
    </div>
</div>
{% endblock %}