{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="auth-master-wrapper">
    <div class="auth-form-section">
        <div class="logi">
            <h1 class="auth-title">¡Contraseña cambiada!</h1>
            <span class="auth-divider-text">Tu contraseña ha sido actualizada correctamente</span>
            
            <a href="{% url 'login' %}" class="auth-submit-btn">Volver al inicio de sesión</a>
        </div>
    </div>
</div>
{% endblock %}