{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/mision.css' %}">
{% endblock %}
{% block content %}
<body> 
    <section class="about-us" id="sobre">
        <div class="container-fluid1">
            <!-- Contenedor para el h2 con 100% de ancho -->
            <div class="header-container1" style="background-color: #66b3ff;">
                <h2 class="display-4 text-center mb-4" style="height: 90px; width: 100%; color: black; padding: 20px; font-size: 50px;">Sobre Nosotros</h2>

            
    
            <p style="text-align: justify;">Somos una empresa comprometida con ofrecer la mejor calidad y atención a nuestros clientes. Tu satisfacción es nuestra prioridad.</p>
        </div>
            <div class="video-container">
                <video width="100%" controls>
                    <source src="{{ MEDIA_URL }}video/WhatsApp Video 2024-11-30 at 11.07.21 AM.mp4" type="video/mp4">
                    Tu navegador no soporta el formato de video.
                </video>
            </div>
        </div>
    </section>
    
    <!-- Misión y Visión Header Section - Reducido -->
    <div class="text-white text-center py-4 mt-4" id="mision" style="height: 150px; margin-bottom: 20px; background-color: #66b3ff">
        <div class="container-reducido">
            <div class="header-container1">
                <h2 class="display-4 text-center mb-4" style="height: 90px; width: 100%; color: black; padding: 20px; font-size: 50px; margin: 100px;">Misión y Visión</h2>
            </div>
            <p class="lead" style="font-size: 1.1rem; color: black;">Conoce nuestros valores y objetivos para un futuro prometedor.</p>
        </div>
    </div>
  
    <div class="container-fluid">
        <!-- Sección Misión -->
        <div class="contenedor-mision-vision">
            <div class="imagen-seccion">
                <img src="{% static 'images/Calidad.png' %}" alt="Nuestra Misión">
            </div>
            <div class="texto-seccion">
                <h2>Misión</h2>
                <p>Nuestra misión es ofrecer a la clientela variedad de marcas reconocidas de excelente calidad, ofreciendo todos los productos relacionados para completar el uso de pinturas, terminaciones y acabados en los cuales son utilizados.</p>
            </div>
        </div>
    
        <!-- Sección Visión -->
        <div class="contenedor-mision-vision">
            <div class="texto-seccion">
                <h2>Visión</h2>
                <p>-Dirigirse al cliente con respeto y adecuada actitud.</p>
                <p>-Lealtad al momento de entregar las cantidades requeridas sin alterar fechas de vencimento en los productos.</p>
            </div>
            <div class="imagen-seccion">
                <img src="{% static 'images/Calidad.png' %}" alt="Nuestra Visión">
            </div>
        </div>
    </div>
    {% endblock %}