{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/pinturas.css' %}">
{% endblock %}

{% block content %}
<body>
    
</body>
<h2 class="text-center mb-4" style="background-color: #0a84ff57; height: 90px; width: 100%; color: black; padding: 20px; font-size: 50px; border-bottom: 3px solid white;">Nuestros Productos</h2>

<div class="container mt-5">
    <div class="row">
        {% for producto in productos %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <div class="card"> 
                <h5 class="card-title text-center mt-3">{{ producto.nombre }}</h5>
                {% if producto.imagen %}
                    <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                {% endif %}
                <div class="card-body text-center">
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p class="card-text"><strong>Precio: ${{ producto.precio }}</strong></p>
                    <!-- Mostrar presentación solo si el producto es pintura -->
                    {% if producto.categoria == 'pinturas' %}
                        <p class="card-text"><strong>Presentación: {{ producto.get_presentacion_display }}</strong></p>
                    {% endif %}
                    <button class="btn btn-primary add-to-cart" data-id="{{ producto.id }}">Añadir al carrito</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
