{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/pinturas.css' %}">
{% endblock %}

{% block content %}
<body>
    
<h2 class="text-center mb-4" style="height: 90px; width: 100%; color: #1a365d; padding: 20px; font-size: 50px;">Nuestros Productos</h2>
<!-- Barra de búsqueda -->
<div class="search-container">
    <input type="text" id="search-input" placeholder="Buscar productos..." class="search-input">
    <button id="search-button" class="search-button">
        <i class="fas fa-search"></i> Buscar
    </button>   
</div>

<!-- Mensaje de no resultados -->
<div id="no-results" class="no-results-message" style="display:none;">
    <p>No se encontraron productos que coincidan con tu búsqueda.</p>
</div>

<div class="container mt-5">
    <div class="row">
        {% for producto in productos %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <div class="card"> 
                <h5 class="card-title text-center mt-3">{{ producto.nombre }}</h5>
                {% if producto.imagen %}
                    <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                {% endif %}
                <div class="card-body text-center">
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p class="card-text"><strong>Precio: ${{ producto.precio }}</strong></p>
                    <!-- Mostrar presentación solo si el producto es pintura -->
                    {% if producto.categoria == 'pinturas' %}
                        <p class="card-text"><strong>Presentación: {{ producto.get_presentacion_display }}</strong></p>
                    {% endif %}
                    <button class="btn btn-primary add-to-cart" data-id="{{ producto.id }}">Añadir al carrito</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        if ("{{ request.session.login_success }}") {
            alert("¡Has iniciado sesión correctamente!");  // Mostrar mensaje
            fetch("{% url 'clear_login_success' %}", { 
                method: "POST", 
                headers: { "X-CSRFToken": "{{ csrf_token }}" } 
            });
        }
    });
</script>
{% endblock %}
