{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/sugerencias.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <img src="{% static 'images/gracias.png' %}" alt="Gracias" class="img-fluid mb-4">
    <h2>¡Gracias por tu sugerencia!</h2>
    <p>Hemos recibido tu comentario. Nos ayuda a mejorar nuestro servicio.</p>
    <a href="/" class="btn btn-primary mt-3">Volver al inicio</a>
</div>
{% endblock %}

