{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 class="text-center mb-4" style="background-color: #0a84ff57; height: 90px; width: 100%; color: black; padding: 20px; font-size: 50px; border-bottom: 3px solid white;">Nuestros Productos</h2>
<div class="container mt-5 text-center">
    <img src="{% static 'images/fondo1.jpeg' %}" alt="Gracias" class="img-fluid mb-4">
    <h2>¡Gracias por tu sugerencia!</h2>
    <p>Hemos recibido tu comentario. Nos ayuda a mejorar nuestro servicio.</p>
    <a href="/" class="btn btn-primary mt-3">Volver al inicio</a>
</div>
{% endblock %}

